
	<div id="frameDialog" class="dialog">
		<a class="jqmClose" href="javascript://"></a>
		<h3 class="jqmTitle"></h3>
		<div class="loading">
			loading...
		</div>
		<iframe id="jqmContent" src="" frameborder="0"></iframe>
	</div>
	<div id="ajaxDialog" class="dialog">
		<a class="jqmClose" href="javascript://"></a>
		<h3 class="jqmTitle"></h3>
		<div class="directionwrapper">
			<div id="jqmContent">

			</div>
		</div>
	</div>
	<div id="contentDialog" class="dialog">
		<a class="jqmClose" href="javascript://"></a>
		<h3 class="jqmTitle"></h3>
	</div>
